.center-div{
    background-color: hsl(217, 54%, 11%);
    width: 1440px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-background{
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: 575px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 20px 10px rgba(0, 0, 0, 0.2);
}
.img-div{
    flex-direction: column;
    margin: 0px;
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.2);
}
#img-src{
    width: 300px;
    border-radius: 10px;
    cursor: pointer;

}
.text-div{
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 5px;
    margin-left: 25px;
    margin-top: 0px;
    margin-right: 25x;
}
.eth-prices{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: hsl(178, 100%, 50%);
}
#eth-text{
    margin-left: 6px;
}
.equilibrium-text{
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}
.equilibrium-text:hover{
    transition: 0.25s;
    color: hsl(178, 100%, 50%);

}
.description-text{
    color: white;
    font-weight: 5px;
    opacity: 0.5;
}
.clock-text{
    display: flex;
    align-items: center;
    color: white;
    opacity: 0.5;
    padding-left: 100px;
}
.creation-style{
    display: flex;
    align-items: center;
    justify-content: left;
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: white;
    margin-right: 25px;
}
#image-avatar{
    width: 30px;
    height: 30px;
    border-style: solid;
    border-radius: 18px;
    border-width: 1.5px;
    margin-right: 10px;
}
#creation-of{
    color: white;
    opacity: 1;
    cursor: pointer;
}
#creation-of:hover{
    color: hsl(178, 100%, 50%);
}
#creation{
    opacity: 0.5;
}


.attribution{
    margin-top: 5px;
    color: white;
    font-size: 15px;
}